@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: '#2C5E9E';
  --secondary: '#E65A71';
  --background: '#EDF6FF';
  --black: '#000';
  --white: '#ffffff';
  --gray: '#8B8B8B';
  --grayLight: '#DADFE4';
  --grayMedium: '#A3A3A4';
  --grayDark: '#535550';
  --text_primary: '#424242';
  --pending: '#9AB0FF';
  --completed: '#5BF08E';
  --progressBar: '#1C8FF9';
  --progressBarBackground: '#F1F1F2';
  --err: 'tomato';
  --hold: '#FAD02C';
  --priorityBackground: '#FCD5D9';
  --shadow: '#171717';
  --backIcon: '#EF9A9A';
  --red: '#D7032A';
  --radiantBlue: '#2B5DF5';
}

/* Overwrite Antd start */
:where(.css-dev-only-do-not-override-10ed4xt).ant-btn-default:not(:disabled) {
  transition: all 0.3s;
}
:where(.css-dev-only-do-not-override-10ed4xt).ant-btn-default:not(:disabled):hover {
  color: #fff;
  border-color: #d9d9d9;
  filter: brightness(90%);
  transition: all 0.3s;
}
:where(.css-dev-only-do-not-override-10ed4xt).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-10ed4xt).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}
:where(.css-dev-only-do-not-override-10ed4xt).ant-card-bordered {
  border: none;
}
:where(.css-dev-only-do-not-override-10ed4xt).ant-card .ant-card-head {
  border-bottom: none;
}
/* Overwrite Antd end */

body {
  background-color: var(--background);
  overflow-x: hidden;
}
p {
  margin: 0 !important;
}

.home_gradient_bg {
  background: linear-gradient(135deg, #1488cc 0%, #2b32b2 100%);
}

.header_nav_profile {
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}
.menu {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  overflow-x: hidden;
}

.custom_button {
  transition: all 0.3s;
}
.custom_button:hover {
  filter: brightness(90%);
  transition: all 0.3s;
}

.mybtns,
.ant-btn-sm {
  background-color: #1677ff !important;
}
.ant-btn-sm {
  color: white !important;
}

/* Some default stylings */
.logo_style {
  height: 4rem;
  width: auto;
}
